# Eclipse (evita metadados e coisas desnecessárias)
.metadata/
*.log
.settings/

# Saídas de build
bin/
target/

# Java
*.class

# Arquivos temporários / backup
*.tmp
*.bak
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
